@import "../abstracts/mixins";
@import "../abstracts/variables";

*::after,
*::before
{
    box-sizing: border-box;
}

.global-wrapper
{
    width: $maxWidth;
    height: $maxHeight;
    background: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: $maxWidth $maxHeight;
    background-attachment: fixed;


    .flx-wrapper
    {
        width: $maxWidth;
        @include flexbox;
    }

    .main
    {
        width: $globalWrapperWidth;
        height: 170vh;
        background-color: #C1C099;
        margin-top: 3rem;
        border-radius: 12px;
        box-shadow: 	0px 3px 6px 3px rgba(0,0,0,0.12),
		0px 6px 10px 3px rgba(0,0,0,0.22),
		0px 9px 14px 3px rgba(0,0,0,0.2),
		0px 18px 16px 6px rgba(0,0,0,0.28);
        border:	1px solid rgba(0,0,0,0.03);
        border-radius:	6px;
    }
}