@import "../abstracts/mixins";
@import "../abstracts/variables";

*::after,
*::before
{
    box-sizing: border-box;
}

body
{
    color: $textBlack;
}

.background
{
    background: url('../img/login-background.png');
    background-repeat: no-repeat;
    background-size: $maxWidth $maxHeight;
    background-attachment: fixed;
    position: fixed;
    width: $maxWidth;
    height: $maxHeight;
    z-index: -1;
}

.global-wrapper
{



    .flx-wrapper
    {
        width: $maxWidth;
        @include flexbox;
    }

    .main
    {
        width: $globalWrapperWidth;
        height: 170vh;
        background-color: $white;
        margin-top: $topSpaceOfContent;
        // border-radius: 12px;
        @include globalBoxShadow;
    }
}

.block
{
    border-radius: 10px;
    width: 60%;
    background-color: #fff;
    margin-bottom: 1.5rem;
}

.space-inside
{
    padding: 2rem;
}