@import "../abstracts/variables";

body
{
    font-size: $fontSize320;
}

input[type=text] , 
input[type=password]
{
    font-size: $inputTextSize320;
}

h1 , h2 , h3 , h4 , h5 , h6
{
    color: #455a64;
}
