@mixin flexbox($align: center , $justify: center , $direction: column)
{
    //Documentation
        // By default this function return both of variables
        // with the value of center.

        // To use only justify-content: center then it is
        // used as display: flexbox(center , start)

        // If you want to use only align-items: center then
        // it is use as display: flexbox(flex-start , center)
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin flexboxJustifyCenterCol()
{
    display: flex;
    justify-content: center;
    flex-direction: columns;
}

@mixin flexboxAlignCenterCol()
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin flexboxAlignCenterRow()
{
    display: flex;
    align-items: center;
    flex-direction: row;
}

@mixin globalBoxShadow()
{
    box-shadow: 	0px 3px 6px 3px rgba(0,0,0,0.12),
    0px 6px 10px 3px rgba(0,0,0,0.22),
    0px 9px 14px 3px rgba(0,0,0,0.2),
    0px 18px 16px 6px rgba(0,0,0,0.28);
    // border:	1px solid rgba(0,0,0,0.03);
    border-radius:	6px;
}