// Text fonts
$fontSize320: 120%;
$inputTextSize320: 80%;

//  Basic widths and heights 
$maxWidth: 100%;
$maxHeight: 100%;
$globalWrapperWidth: 75%;
$maxScreenVh: 100vh;

//  Colors
$mainDarkGreen: #293208;
$black: black;
$white: #fff;
$textBlack: #212529;


// Advanced variables

$topSpaceOfContent: 4rem;
$topSpaceOfSidebar: 1rem;