//  Basic widths and heights 
$maxWidth: 100%;
$maxHeight: 100%;
$globalWrapperWidth: 75%;
$maxScreenVh: 100vh;

//  Colors
$mainDarkGreen: #293208;



// Advanced variables

$topSpaceOfContent: 3rem;