
// SECOND TRY OF BURGER SIDEBAR
.burger-cnt {
  position: relative;
  // overflow: hidden;
}

.open {
  left: 0px;
  transition: left linear .2s;
}

.btn-submit
{
  background-color: #ECECE7;
  border-radius: 16px;
  border-color: #2932088f;
  padding-left: 1rem;
  padding-right: 1rem;
}