
// SECOND TRY OF BURGER SIDEBAR
.burger-cnt {
  position: relative;
  // overflow: hidden;
}

.open {
  left: 0px;
  transition: left linear .2s;
}

.btn-submit
{
  background-color: #934d56;
  color: #fff;
  // border-radius: 16px;
  border-color: #934d56;
  margin-top: 1rem;
  width: 95%;
}