@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-wrapper
{
    width: $maxWidth;
    height: $maxScreenVh;
    @include flexboxAlignCenterCol;

}

.form-block
{
    // height: 400px;
    background-color: #934d56;
    display: flex;
    flex-direction: row;
}

.field-group
{
    input
    {
        width: 90%;
    }
}

form
{
    a
    {
        color:#934d56;
        text-decoration: none;

        &:hover
        {
            color: #934d56;
            text-decoration: underline;
        }
    }
}

.form-space
{
    margin: .5rem;
}

.form-cnt
{
    width: 50%;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
    background-color: #f8f9fa;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

    h4
    {
        color: #934d56;
    }
}


.third-party-cnt
{
    // background-color: red;
    width: 70%;
    height: 400px;
    padding: 1rem;
    padding-top: 3rem;
    // height: auto;

    .underline
    {
        width: 40%;
        height: 2px;
        background-color: #fff;
    }
    
    p , h2 , h3
    {
        color: #fff;
    }
}


@media screen and (max-width: 950px)
{
    .form-cnt
    {
        width: 100% !important;
        border-radius: 0px 0px 10px 10px !important;
    }

    .google-btn
    {
        margin-bottom: 2rem !important;
    }


    .form-block
    {
        flex-direction: column !important;

    }

    .third-party-cnt
    {
        height: auto !important;
        width: 100% !important;
    }
}
