@import "../abstracts/mixins";
@import "../abstracts/variables";

.form-wrapper
{
    width: $maxWidth;
    height: $maxScreenVh;
    @include flexboxAlignCenterCol;

}

.field-group
{
    input
    {
        width: 90%;
    }
}

form
{
    a
    {
        color:#934d56;
        text-decoration: none;

        &:hover
        {
            color: #934d56;
            text-decoration: underline;
        }
    }
}