//Open sidebar content to the left
.moveSidebar
{
    animation-name: sidebarSlide;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    // left:0px !important;
}

@keyframes sidebarSlide
{
    from {left: -300px}
    to {left: 0px;}
}


//Close sidebar content to the right
.closeSidebar
{
    animation-name: closeSidebar;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes closeSidebar
{
    from {left: 0px;}
    to {left: 300px;}
}
