.login-form
{
    margin-top: 3rem;
}

.form-logo-cnt
{
    img
    {
        width: 300px;
    }
}

.icon-cnt
{
    background-color: #d3d3d3;
    border: 1px solid rgb(87, 87, 87);
    padding: .3rem;
}

.field-group
{
    display: flex;
}
